/* Base Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

$main-color: rgb(255, 101, 101);
$main-color-dark: rgb(0, 0, 0);
$main-color-active: rgb(252, 116, 116);
$secondary-color: rgb(233, 233, 233);
$main-color-active-dark: rgb(26, 26, 26);

$digital-font: "Orbitron", sans-serif;
/* Pomodoro Styles */

body {
    background-color: $main-color;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pomodoro {
    padding: 1em;
    background-color: $secondary-color;
    color: $main-color;
    border-radius: 0.6em;
    width: 700px;
    margin: auto;
    text-align: center;
}

.pomodoro-options {
    display: flex;
    flex-direction: column;
    margin: 0.3em 0;
}

.pomodoro-time {
    font-family: $digital-font;
}

.pomodoro-option__item {
    font-size: 1.1em;
    border-radius: 0.5em;
    border: 1px solid $main-color;
    margin: 0.2em auto;
    width: 400px;
    width: 100%;
    padding: 0.1em 0em;
    &:hover {
        background-color: $main-color;
        color: $secondary-color;
        cursor: pointer;
    }
    &:active {
        background-color: $main-color-active;
        color: $secondary-color;
        transition: ease-in 50ms;
    }
}

.creator-name {
    margin-top: 0.8em;
}

.creator-love {
    width: 15px;
    margin:0 0.1em;
}

/* Animation */ 
@keyframes beat {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.08);
    }
} 

.creator-love {
    animation: beat 800ms infinite;
}

.more-info {
    text-decoration: none;
    color: $main-color;
    &:hover,
    &:active {
        color:$main-color-active;
    }
}

/* Dark Mode */
.dark-mode {
    background-color: $main-color-dark;
}

.dark-mode-border {
    border-color: $main-color-dark;
    color: $main-color-dark;
}

.dark-mode-hover {
    &:hover,
    &:active {
        background-color: $main-color-active-dark;
    }
}

// Responsive

@media (min-width: 40em) {
    body {
        font-size: 1.1em;
    }

    .pomodoro-options {
        flex-direction: row;
        justify-content: space-evenly;
        & .pomodoro-option__item {
            margin: 0 0.3em;
        }
    }
}
